.Contador input {
    font-size: 1.4rem;
}

.Contador button{
    margin: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #b7950b;
    color: whitesmoke;
    font-size: 1.4rem;
}